<h1 class="center">Schrute Farms</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Place A New Order</h3>
    <a href="/menu/new" class="btn">New Order</a>
  </div>
</div>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>View Order</h3>
    <a href="/" class="btn">Click Here</a>
  </div>
</div>
