<h1 class="center">Your Order</h1>
<div class="row">
  <% @order.each do |order| %>
    <div class="col s12 m3">
      <div class="title"><%= order.title %></div>
          <a class="btn" href="/menu/<%= order.id %>/edit">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
      <div class="card-action">
        <div <a class="btn" href="/menu/<%= order.id %>/edit">Edit</a>>
         <form action="/menu/<%= order.id %>" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <button class="btn red">Delete</button>
         </form>
       </div>
    </div>
  <% end %>
</div>
