<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Schrute Menu</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/menu/new">Place Order</a></li>
      <li><a href="/menu">View Order</a></li>
    </ul>
  </div>
</nav>
