<h1 class="center">Place An Order</h1>
<form method="POST" action="/menu">
  <div class="input-field">
    <input id="title" required name="title" />
    <label class="active" for="title">Food</label>
  </div>
  <button class="btn right" type="submit">Place Order</button>
</form>
